<servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>controller.login.LoginAction</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>controller.login.LogoutAction</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>
